ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/* Element selecter  */
p{
  color: red;
}
/* Class selecter */
.note{
  font-size: 20px;

}
/* Id Selector  */
#id-selector-demo{
  color: green;
}
/* Attribuit selector */
li[value = "4"]{
  color: blue;
}
/* */
*{
  text-align: center;
}